@charset "UTF-8";

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    height: 55px;
    background-color: #000103;
    color: white;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 4px;
    text-align: center;
    text-decoration: underline;
}
#spoiler {
    font-family: 'Staatliches';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 55px;
    color: #950101;
    text-decoration: underline;
    margin-top: -8px;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} 
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    height: 288px;
    width: 1340px;
    background-color: #000103;
    color: white;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -276px;
    margin-left: -2px;
    margin-right: 900px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 40px;
}
img {
    margin-top: 439px;
    width: 392px;
    height: 218px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-left: 31px;
    margin-right: 14px;
}
#l {
    margin-top: 146px;
    width: 392px;
    height: 218px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-right: 16px;
}
#p {
    margin-top: 115px;
    width: 392px;
    height: 218px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.hr5 {
    margin-top: -33px;
    border: 0;
    border-top: medium double #950101;
    height: 0px;
    overflow: visible;
    padding: 0;
    color: #000103;
    text-align: center;
    font-family: 'Staatliches';
    src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;

}
  
.hr5::after {
    content: "Primeira temporada (2019)";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 40px;
    padding: 0 0.3em;
    background: white;
}
#ep {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    height: 392px;
    width: 492px;
    background-color: #950101;
    color: white;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 22px;
    margin-left: -2px;
    margin-right: 900px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 40px;
}
li{
    color: white;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -344px;
    margin-left: -2px;
    margin-right: 900px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 28px;
    font-family: 'Staatliches';
    src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
#lp{
    color: white;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -7px;
    margin-left: -2px;
    margin-right: 900px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 28px;
    font-family: 'Staatliches';
    src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
#lo {
    color: white;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -7px;
    margin-left: -2px;
    margin-right: 900px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 28px;
    font-family: 'Staatliches';
    src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
#lt {
    color: white;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -7px;
    margin-left: -2px;
    margin-right: 900px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 28px;
    font-family: 'Staatliches';
    src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
#ly {
    color: white;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -7px;
    margin-left: -2px;
    margin-right: 900px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 28px;
    font-family: 'Staatliches';
    src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
#diag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 465px;
    width: 694px;
    background-color: #950101;
    color: white;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -340px;
    margin-left: 531px;
    margin-right: 900px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
#ele {
    font-family: 'Staatliches';
    src: url(https://fonts.gstatic.com/s/staatliches/v6/HI_OiY8KO6hCsQSoAPmtMYeVvpCNOw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    height: 32px;
    width: 583px;
    color: white;
    align-self: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -414px;
    margin-left: 582px;
    margin-right: 900px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 26.5px;
}
