body{
    background-color: black;
}
h1{
    color: #d81b1b;
}
#fundo{
    background-color: #000000;
}
nav{
    background-color: #d81b1b;
}
a{
    color: white;
}
a:hover{
    color: black;
}
.btn-outline-success {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    border-color: #ffffff;
}