@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
body{
    background-color: #ffffff;
    font-family:'STIX Two Text', serif;
}
img{
    margin-top: -64px;
    margin-left: 0px;
    margin-right: -205px;
    padding: 0px 0px 0px 0px;
    width: 207px;
    height: 177px;
    float: right;
    display: block;
}
#des{
    font-family: 'STIX Two Text', serif;
    color: #025446;
    float: right;
    height: 0px;
    width: 453px;
    text-align: justify;
    margin-top: -597px;
    margin-left: -39px;
    margin-right: 163px;
    padding-top: 21px;
    font-size: 33px;
}
#pzi{
    font-family: 'STIX Two Text', serif;
    color: #025446;
    float: right;
    height: 0px;
    width: 453px;
    text-align: justify;
    margin-top: -424px;
    margin-left: -39px;
    margin-right: 163px;
    padding-top: 21px;
    font-size: 27px;
}
#not4{
    font-family: 'STIX Two Text', serif;
    height: 112px;
    width: 430px;
    background-color: transparent;
    color: #3DD9BF;
    float: right;
    text-align: start;
    margin-top: -479px;
    margin-left: 7px;
    margin-right: 180px;
    padding-left: 140px;
    padding-right: 6px;
    border-color: black;
    font-size: 28px;
}
#not5{
    font-family: 'STIX Two Text', serif;
    height: 112px;
    width: 430px;
    background-color: transparent;
    color: #3DD9BF;
    float: right;
    text-align: start;
    margin-top: -227px;
    margin-left: 7px;
    margin-right: 180px;
    padding-left: 140px;
    padding-right: 6px;
    border-color: black;
    font-size: 28px;
}
#tec{
    margin-top: -484px;
    margin-left: 0px;
    margin-right: 646px;
    padding: 0px 0px 0px 0px;
    width: 207px;
    height: 207px;
    float: right;
    display: block;
    border-radius: 20px 20px 20px 20px;
}
#tec2{
    margin-top: -235px;
    margin-left: 0px;
    margin-right: 646px;
    padding: 0px 0px 0px 0px;
    width: 207px;
    height: 207px;
    float: right;
    display: block;
    border-radius: 20px 20px 20px 20px;
}
#aju{
    margin-top: -8px;
    margin-left: 0px;
    margin-right: -8px;
    padding: 0px 0px 0px 0px;
    width: 207px;
    height: 73px;
    float: right;
    display: block;
    background-color: #025446;
}
#pri{
    margin-top: -549px;
    margin-left: 0px;
    margin-right: 294px;
    width: 560px;
    height: 551px;
    border-right: rgb(255, 255, 255);
    float: right;
    display: block;
    border-radius: 16px 16px 16px 16px;
}
#oli{
    font-family: 'STIX Two Text', serif;
    height: 64px;
    width: 380px;
    background-color: #ffffff;
    color: #025446;
    float: right;
    text-align: center;
    margin-top: -20px;
    margin-left: 202px;
    margin-right: 225px;
    margin-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 21px;
    padding-bottom: 0px;
    border-color: black;
    font-size: 35px;
}
h1{
    font-family: 'STIX Two Text', serif;
    height: 49px;
    width: 1358px;
    background-color: #025446;
    color: #ffffff;
    float: right;
    text-align: center;
    margin-top: 24px;
    margin-left: 202px;
    margin-right: -8px;
    margin-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    border-color: black;
    font-size: 35px;
}
#inicio{
    font-family: 'STIX Two Text', serif;
    height: 64px;
    width: 305px;
    background-color: #ffffff;
    color: #025446;
    float: right;
    text-align: center;
    margin-top: -20px;
    margin-left: -38px;
    margin-right: -849px;
    margin-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 21px;
    padding-bottom: 0px;
    border-color: black;
    font-size: 35px;
}
p{
    font-family: 'STIX Two Text', serif;
    color: #025446;
    float: right;
    text-align: justify;
    margin-top: -245px;
    margin-left: -39px;
    margin-right: -496px;
    padding-top: 21px;
    padding-bottom: 0px;
    text-shadow: 0.1em 0.1em 0.2em #025446;
    font-size: 41px;
}
#sau{
    font-family: 'STIX Two Text', serif;
    height: 64px;
    width: 373px;
    background-color: #000103;
    color: #025446;
    float: left;
    text-align: center;
    margin-top: -85px;
    margin-left: 2px;
    margin-right: -17px;
    padding-top: 21px;
    padding-bottom: 0px;
    border-color: black;
    font-size: 35px;  
}

#recen{
    font-family: 'STIX Two Text', serif;
    color: #ffffff;
    background-color: #025446;
    height: 43px;
    width: 259px;
    float: left;
    margin-top: 8px;
    margin-left: 7px;
    padding-top: 7px;
    padding-right: 8px;
    padding-left: 150px;
    align-self: center;
    font-size: 29px;
}
h3{
    font-family: 'STIX Two Text', serif;
    height: 112px;
    width: 271px;
    background-color: #ffffff;
    color: #3DD9BF;
    float: left;
    text-align: start;
    margin-top: -22px;
    margin-left: 7px;
    margin-right: 926px;
    padding-left: 140px;
    padding-right: 6px;
    padding-bottom: 0px;
    border-color: black;
    font-size: 26px;
}
#ame{
    font-family: 'STIX Two Text', serif;
    height: 130px;
    width: 271px;
    background-color: #ffffff;
    color: #3DD9BF;
    float: left;
    text-align: start;
    margin-left: 7px;
    margin-right: 926px;
    padding-left: 140px;
    padding-right: 6px;
    border-color: black;
    font-size: 26px;
}
#fut{
    font-family: 'STIX Two Text', serif;
    height: 114px;
    width: 271px;
    background-color: #ffffff;
    color: #3DD9BF;
    float: left;
    text-align: start;
    margin-left: 7px;
    margin-right: 926px;
    padding-left: 140px;
    padding-right: 6px;
    padding-top: 11px;
    border-color: black;
    font-size: 26px;
}
#hipis{
    font-family: 'STIX Two Text', serif;
    height: 130px;
    width: 271px;
    background-color: #ffffff;
    color: #3DD9BF;
    float: left;
    text-align: start;
    margin-left: 7px;
    margin-right: 926px;
    padding-left: 140px;
    padding-right: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: black;
    font-size: 26px;
}
#bas{
    margin-top: -32px;
    margin-left: 0px;
    margin-right: -34px;
    width: 221px;
    height: 163px;
    border-right: black;
    float: right;
    display: block;
    border-radius: 0px 0px 0px 62px;
}
#te{
    margin-top: -107px;
    margin-left: 29px;
    margin-right: 49px;
    width: 100px;
    height: 100px;
    border-right: black;
    float: left;
    display: block;
    border-radius: 27px 27px 27px 27px;
}
#te2{
    margin-top: -107px;
    margin-left: 29px;
    margin-right: 49px;
    width: 100px;
    height: 100px;
    border-right: black;
    float: left;
    display: block;
    border-radius: 27px 27px 27px 27px;
}
#te3{
    margin-top: -107px;
    margin-left: 29px;
    margin-right: 49px;
    width: 100px;
    height: 100px;
    border-right: black;
    float: left;
    display: block;
    border-radius: 27px 27px 27px 27px;
}
#te4{
    margin-top: -107px;
    margin-left: 29px;
    margin-right: 49px;
    width: 100px;
    height: 100px;
    border-right: black;
    float: left;
    display: block;
    border-radius: 27px 27px 27px 27px;
}
#te5{
    margin-top: -107px;
    margin-left: 29px;
    margin-right: 49px;
    width: 100px;
    height: 100px;
    border-right: black;
    float: left;
    display: block;
    border-radius: 27px 27px 27px 27px;
}
.btn{
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400px;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    font-weight: 700px;
    margin-top: 0px;
    margin-left: 0px;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'STIX Two Text', serif;
}
a:hover{
    text-decoration: none;
    color: #000000;
    font-family: 'STIX Two Text', serif;
}
a.two:link{
    text-decoration: none;
    color: #ffffff;
    font-family: 'STIX Two Text', serif;
}
a.two:hover{
    text-decoration: none;
    color: #000000;
    font-family: 'STIX Two Text', serif;
}
a.three{
    text-decoration: none;
    color: #ffffff;
    font-family: 'STIX Two Text', serif;
}
a.three:hover{
    text-decoration: none;
    color: #000000;
    font-family: 'STIX Two Text', serif;
}
a.four{
    text-decoration: none;
    color: #ffffff;
    font-family: 'STIX Two Text', serif;
}
a.four:hover{
    text-decoration: none;
    color: #000000;
    font-family: 'STIX Two Text', serif;
}
.efeito_1 {
    box-shadow: 0 0 40px 40px transparent inset, 0 0 0 0 #000000;
    transition: 150ms;
    height: 73px;
    width: 300px;
    background-color: #025446;
    float: left;
    text-align: center;
    margin-top: -73px;
    margin-left: 301px;
    margin-right: -17px;
    margin-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 26px;
    padding-left: 40px;
    padding-right: 0px;
    padding-top: 13px;
    padding-bottom: 0px;
    border-color: black;
    font-size: 35px;
}
.efeito_1:hover {
    box-shadow: 0 0 10px 0 #025446 inset, 0 0 10px 4px #025446;
}
.efeito_2 {
    box-shadow: 0 0 40px 40px transparent inset, 0 0 0 0 #000000;
    transition: 150ms;
    height: 73px;
    width: 312px;
    background-color: #025446;
    float: left;
    text-align: center;
    margin-top: -73px;
    margin-left: -11px;
    margin-right: -17px;
    margin-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    padding-left: 100px;
    padding-right: 0px;
    padding-top: 13px;
    padding-bottom: 0px;
    border-color: black;
    font-size: 35px;
}
.efeito_2:hover {
    box-shadow: 0 0 10px 0 #025446 inset, 0 0 10px 4px #025446;
}
.efeito_3 {
    box-shadow: 0 0 40px 40px transparent inset, 0 0 0 0 #000000;
    transition: 150ms;
    height: 73px;
    width: 211px;
    background-color: #025446;
    float: left;
    text-align: center;
    margin-top: -73px;
    margin-left: 923px;
    margin-right: -17px;
    margin-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    padding-left: 62px;
    padding-right: 28px;
    padding-top: 13px;
    padding-bottom: 0px;
    border-color: black;
    font-size: 35px;
}
.efeito_3:hover {
    box-shadow: 0 0 10px 0 #025446 inset, 0 0 10px 4px #025446;
}
.efeito_4 {
    box-shadow: 0 0 40px 40px transparent inset, 0 0 0 0 #000000;
    transition: 150ms;
    height: 73px;
    width: 322px;
    background-color: #025446;
    float: left;
    text-align: center;
    margin-top: -8px;
    margin-left: 601px;
    margin-right: -17px;
    margin-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    padding-left: 73px;
    padding-right: 0px;
    padding-top: 13px;
    padding-bottom: 0px;
    border-color: black;
    font-size: 35px;
}
.efeito_4:hover {
    box-shadow: 0 0 10px 0 #025446 inset, 0 0 10px 4px #025446;
}
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
} 
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
